html, body {
  overscroll-behavior: none;
  overflow: hidden;
}

main{
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    min-height: calc(100vh - 80px);
    flex: 1;
}

#card{
    background-color: #303838;
    display: flex;
    flex-direction: column;
    width: 45%;
    text-align: center;
    color: antiquewhite;
}

#text{
    padding: 2em 0;
}

#text p{
   padding: 0 1em;
}

#images{
    position: relative;
    padding-bottom: 1em;
}

#foto{
    object-fit: cover;
    width: 100%;
    height: 15em;
    object-position: center top;
}

#titleFerran{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 15em;
    top: 80%;
}

#spotify{
    width: 45%;
    border-radius:12px;
    padding: 3%;
    border-color: black;
    border-style: double;
}

/*.yt-container{
    display: flex;
    flex-direction: column;
    padding-top: 1em 0;
    box-sizing: border-box;
    position: sticky;
}

iframe{
    aspect-ratio: 16 / 9;
    width: 27em;
    padding: 1%;
}


#yt1{
    left: 1em;
}

#yt2{
    right: 1em;
}*/

@media screen and (max-width: 1090px) {
    
    main{
        flex-direction: column;
    }

    #card, #spotify{
        width: 100%;
    }

    #spotify{
        height: 46em;
        padding: 0;
    }

    html, body{
        overflow-y: auto;
        overflow-x: hidden;
    }
}