@import url('https://fonts.googleapis.com/css?family=Sofia');
@import url('https://fonts.googleapis.com/css2?family=Englebert');


* {
    font-size: 1em;
    font-family: Englebert;
}

h1, h2{
    font-family: Sofia;
}

html, body {
  overscroll-behavior: none;
}

body {
    margin: 0;
    padding: 0;
}

#header {
    z-index: 10;
}

/* HEADER */
.sticky{
    position: fixed;
    top: 0.3%;
    width: 100%;
    z-index: 2;
}

#hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 0;

    width: 30px;
    height: 22px;

    background: none;
    border: none;
    cursor: pointer;
    padding: 0;

    z-index: 20;
}

#hamburger span {
    width: 100%;
    height: 3px;

    background-color: palevioletred;
    border-radius: 5px;

    transition: all 0.3s ease;

    transform-origin: center;
}

#banner {
    position: relative; /* Position relative to use pseudo-elements */
    overflow: hidden; /* Hide any overflow from pseudo-elements */
    z-index: 5;
}

#banner::before{
    content: ""; /* Required for pseudo-element */
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#18412da1, #3038384f), url(../img/header.jpg);
    background-position-y: bottom;
    filter: blur(3px); /* Adjust blur radius as needed */
}

#banner img {
    position: relative; /* Ensure it's above the blurred background */
    width: 50%;
    display: block;
    margin: auto;
    padding-bottom: 0.5em;
    z-index: 100; /* Ensure it appears above the blurred background */
}

    /* h1{
        /* Text 
        margin: 0;
        color: transparent;
        font-size: 750%;
        text-align: center;
        font-family: 'Sofia';
        -webkit-background-clip: text;

        /* Image 
        height: 15vh;
        background-image: url(/img/header.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: bottom;
    } */

    /* nav{
        position: sticky;
        top: 0;
    } */

    /* LOGO */

        #title{
            display: flex;
            align-items:center;
        }

        #title img {
            height: 5em;
            z-index: 20
        }

        /*#title{
            padding: 1vh;
            text-decoration: none;
            margin: -2vh;
             text-shadow: -1px -1px 0 whitesmoke, 1px -1px 0 whitesmoke, -1px 1px 0 whitesmoke, 1px 1px 0 whitesmoke;
             }
             */
        

        /* #title p, #dos{
            display: inline-block;
            vertical-align: top;
            padding: 1vh;
        }

        #title h1, #title p{
            color: palevioletred;
            margin: -1.3vh;
        }

        #title h1{
            font-size: xx-large;
        }

        #title p{
            padding: 1.6vh 1.5vh 0;
            font-size: x-large;
            transform: rotate(18deg);
        } */
    
    /* NAVBAR */
        nav{
            display: flex;
            justify-content: space-between;
            background-color: whitesmoke;
            padding: 0 2%;
            height: 2.5em;
            z-index: 6;
        }

        nav ul{
            list-style-type: none;
            display: flex;
            flex-direction: row;
            justify-content: end;
            width: 80%;
            margin: 0px;
            
        }

        nav ul a{
            padding: 0 1%;
            transform: skewX(-20deg);
            text-decoration: none;
            color: palevioletred;
        }

        nav ul a li{
            font-size: large;
            transform: skewX(20deg);
            line-height: 2.2rem;
        }

        nav ul a:hover{
            background-color: pink;
            transition: all ease-in 500ms;
            border-radius: 10px;
            color:white;
            font-weight: bolder;
            text-shadow: 0px 0px 14px rgb(182, 26, 86);
        }

        nav ul a:hover li{
            font-size: larger;
            transition: all ease-in 500ms;
        }





@media screen and (max-width: 1090px) {

    nav {
        position: relative;
        align-items: center;
    }

    #hamburger {
        display: flex;
    }

    #hamburger.active span:nth-child(1) {
        transform: rotate(45deg) translate(7px, 7px);
    }

    #hamburger.active span:nth-child(2) {
        opacity: 0;
    }

    #hamburger.active span:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -7px);
    }

    nav ul {
        flex-direction: column;
        align-items: center;
        z-index: 5;

        position: absolute;
        top: 290%;
        right: 0;

        width: 100%;

        padding: 0;

        opacity: 0;
        transform: translateY(-10px);

        transition: max-height 0.4s ease,
                    opacity 0.25s ease,
                    transform 0.25s ease;
    }
    
    nav ul.active {
        max-height: 500px; /* enough to contain items */
        opacity: 1;
        transform: translateY(0);
        padding: 1rem 0;
    }

    nav ul a {
        padding: 0.5rem;
        margin: 1rem;
        text-align: center;
        line-height: normal;
        width: min(300px, 80%);
        background-color: rgba(245, 245, 245, 0.90);
    }


    nav ul a:hover{
        background-color: pink;
        transition: all ease-in 500ms;
        border-radius: 15px;
        color:white;
        font-weight: bolder;
    }

    body:has(#nav-links.active) {
        overflow: hidden;
    }

    #overlay{
        position: fixed;
        inset: 0;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s ease;
        z-index: 4;
        background: #243b1199;
    }

    #overlay.active {
        opacity: 1;
        pointer-events: all;
    }
}