body{
    background-color: burlywood;
}

main{
    padding: 0 1em;
}

h1{
    font-family: Impact;
    color: white;
    font-size: 300%;
    margin: 0;
    text-align: center;
    margin-bottom: -0.4em;
    text-shadow: -1px -1px 0 rgb(94, 53, 38), 1px -1px 0 rgb(94, 53, 38), -1px 1px 0 rgb(94, 53, 38), 1px 1px 0 rgb(94, 53, 38);
}

.columns{
    display: flex;
    justify-content: space-around;
    padding: 3% 0 1.5% 0;
}

.columns div{
    width: 40%;
}

ul{
    list-style: circle;
}

#smiley{
    width: 7%;
    vertical-align: middle;
    padding-bottom: 1%;
    padding-left: 0.3%;
}

#collection{
    display: flex;
    justify-content: space-around;
}

#collection img{
    width: 19%;
}

#extrapic{
    display: flex;
    justify-content: center;
    padding-top: 2%;
}

#extrapic img{
    width: 19%;
}

p{
    display: flex;
    justify-content: center;
    font-size: 90%;
    margin-top: 5px;
}