html, body {
  overscroll-behavior: none;
}

body{
    background-color: burlywood;
}

main {
    padding: 1em;
}

h1{
    font-family: Impact;
    color: white;
    font-size: 300%;
    margin: 0;
    text-align: center;
    margin-bottom: -0.4em;
    text-shadow: -1px -1px 0 rgb(94, 53, 38), 1px -1px 0 rgb(94, 53, 38), -1px 1px 0 rgb(94, 53, 38), 1px 1px 0 rgb(94, 53, 38);
    padding: 0.3em;
}

h3{
    text-align: center;
    padding-top: 2%;
    font-size: large;
    color: #686d20;
}

p {
    text-align: center;
}

.photo, .map{
    width: 50%;
}

.media{
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 1090px) {

    .photo{
        object-fit: cover;
        width: 100%;
    }

    .map{
        position: absolute;
        transform: translateX(6%) translateY(5%);
        width: 50%;
        aspect-ratio:1/1;        
    }

    .media{
        position: relative;
    }

    #door{
        object-position: center right;
    }

    h1{
        font-size: 200%;
    }
}