html, body {
  overscroll-behavior: none;
}

body{
    background-color: burlywood;
}

main {
    padding: 1em;
}

p {
    text-align: center;
}

.photo, .map{
    width: 50%;
}

.media{
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 1090px) {

    .photo{
        object-fit: cover;
        width: 100%;
    }

    .map{
        position: absolute;
        transform: translateX(6%) translateY(6%);
        width: 50%;
        aspect-ratio:1/1;        
    }

    .media{
        position: relative;
    }

    #door{
        object-position: center right;
    }

    h1{
        font-size: 200%;
    }
}